#maximize biomass production
obj : MAX(R_Ec_biomass_iJO1366_core_53p95M)

R_EX_glu_DASH_L_LPAREN_e_RPAREN_	-12	1000
R_EX_gly_LPAREN_e_RPAREN_	-3	1000
R_EX_ala_DASH_L_LPAREN_e_RPAREN_	-2	1000
R_EX_cys_DASH_L_LPAREN_e_RPAREN_	-2	1000
R_EX_ser_DASH_L_LPAREN_e_RPAREN_	-2	1000
R_EX_asn_DASH_L_LPAREN_e_RPAREN_	-1.5	1000
R_EX_asp_DASH_L_LPAREN_e_RPAREN_	-1.5	1000
R_EX_thr_DASH_L_LPAREN_e_RPAREN_	-1.5	1000
R_EX_gln_DASH_L_LPAREN_e_RPAREN_	-1.2	1000
R_EX_met_DASH_L_LPAREN_e_RPAREN_	-1.2	1000
R_EX_pro_DASH_L_LPAREN_e_RPAREN_	-1.2	1000
R_EX_val_DASH_L_LPAREN_e_RPAREN_	-1.2	1000
R_EX_arg_DASH_L_LPAREN_e_RPAREN_	-1	1000
R_EX_his_DASH_L_LPAREN_e_RPAREN_	-1	1000
R_EX_ile_DASH_L_LPAREN_e_RPAREN_	-1	1000
R_EX_leu_DASH_L_LPAREN_e_RPAREN_	-1	1000
R_EX_lys_DASH_L_LPAREN_e_RPAREN_	-1	1000
R_EX_phe_DASH_L_LPAREN_e_RPAREN_	-0.667	1000
R_EX_trp_DASH_L_LPAREN_e_RPAREN_	-0.545	1000
R_EX_cbl1_LPAREN_e_RPAREN_	-0.01	1000
R_EX_glc_LPAREN_e_RPAREN_	0	1000